* {
    border: none;
    border-radius: 20px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 12px;
    min-height: 10px;
}

window#waybar {
    background: rgba(36, 39, 58, 0.75);
}

tooltip {
    background: #363a4f;
    color: #cad3f5;
    border-radius: 7px;
    border-width: 0px;
}

#taskbar button {
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 0px;
    padding-left: 3px;
    padding-right: 3px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: #c6a0f6;
    border-radius: 20px;
    color: transparent;
    margin-left: 3px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 3px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#taskbar button:hover {
    background: #cad3f5;
    border-radius: 20px;
    color: #cad3f5;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
    min-height: 16px;
}

#tray menu separator {
    min-height: 10px;
}

#idle_inhibitor {
    color: #f5bde6;
    background: #24273a;
    border-radius: 20px 0px 0px 20px;
    opacity: 1;
    margin: 4px 0px 4px 0px;
    padding-left: 8px;
    padding-right: 0px;
}

#clock {
    color: #ed8796;
    background: #24273a;
    opacity: 1;
    border-radius: 0px 20px 20px 0px;
    margin: 4px 8px 4px 0px;
    padding-left: 4px;
    padding-right: 8px;
}

#pulseaudio {
    color: #f5a97f;
    background: #24273a;
    opacity: 1;
    border-radius: 20px 20px 20px 20px;
    margin: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#tray {
    color: #f5a97f;
    background: #24273a;
    opacity: 1;
    border-radius: 20px 20px 20px 20px;
    margin: 4px 4px 4px 8px;
    padding-left: 8px;
    padding-right: 8px;
}

#mpris {
    color: #a6da95;
    background: #24273a;
    opacity: 1;
    border-radius: 20px 20px 20px 20px;
    margin: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#language {
    color: #eed49f;
    background: #24273a;
    opacity: 1;
    border-radius: 20px 20px 20px 20px;
    margin: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-right: 8px;
}

#privacy {
    color: #8bd5ca;
    background: #24273a;
    opacity: 1;
    border-radius: 20px 20px 20px 20px;
    margin: 4px 4px 4px 4px;
    padding-left: 8px;
    padding-right: 8px;
}
